.footer {
  background: var(--clr-dark);
  min-height: 56px;
}

.footer div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
