@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html,
body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

:root {
  --clr-primary: #3282b8;
  --clr-secondary: #0f4c75;
  --clr-dark: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--titles);
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.constrains {
  margin: 0 auto;
  width: min(960px, 85%);
}

.layout {
  display: grid;
  gap: 2rem;
}

.layout h2 {
  margin: 0;
}
